In [2]:
import os
from dotenv import load_dotenv
import numpy as np
import pandas as pd
import matplotlib as plt
from airtable import Airtable
load_dotenv()

# Loading in Airtable
API_KEY = os.getenv('AIRTABLE_API_KEY')
BASE_KEY = os.getenv('AIRTABLE_BASE_KEY')
table_name = 'Directory'
airtable = Airtable(BASE_KEY, table_name, API_KEY)

# Get 2 records
records = airtable.get_all(maxRecords=2)
df = pd.DataFrame.from_records((r['fields'] for r in records))
df.head()

,First Name,Last Name,NetID,Graduation Year,Pledge Semester,Major(s),Phone Number,Preferred Email,Illinois Email,Personal Email,Home Address,Campus Address,Birthday,Minor(s),Study Abroad,Internship Company(s),Internship Date(s),Leadership Conferences,Job Shadows,Organizations
0,Abhi,Chebiyam,abhijit3,[2023],[Spring 2020],[Electrical Engineering],408-499-6252,[Personal Email],abhijit3@illinois.edu,abhichebiyam@gmail.com,"5136 Bianca Way, Livermore, CA","1012 W Illinois St, Urbana, IL 61801",1/5/2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alex,Velis,avelis2,[2021],[Spring 18],[Accounting],8477029241,[Illinois Email],avelis2@illinois.edu,avelis747@gmail.com,4309 Westview Dr. Northbrook IL 60062,309 E Green St Champaign IL 61820,4/7/1999,[Macroeconomics and Modern Greek],[Spring 2020 Milan],[Shell],[Summer 2019],[None],[None],"[WPGU Radio, ISBC, Orthodox Christian Fellowsh..."